
itsdangerous
Jinja2
joblib
gunicorn
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
Pillow
pipreqs

requests
scikit-learn
scipy
six
textblob

Werkzeug

regex
nltk
protobuf<3.20
requests
tensorflow-cpu


keras
streamlit
