certifi
chardet
click
colorama
textblob
cycler
docopt
Flask
idna
itsdangerous
Jinja2
joblib
gunicorn
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
Pillow
pipreqs
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
textblob
threadpoolctl
urllib3
Werkzeug
yarg
regex
nltk

requests
tensorflow-cpu


keras
streamlit
