certifi
chardet
click
colorama
textblob
cycler
docopt
Flask
idna
itsdangerous
Jinja2
joblib
gunicorn
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
Pillow
pipreqs
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six

threadpoolctl
urllib3
Werkzeug
yarg

nltk
flask-login
requests
tensorflow-cpu
oauthlib
pyOpenSSL
keras
